$color-header: #000000;
$color-rappresent:#FFFFFF;
$color-implement:#FFFFFF;
$color-community:#F5F6F7;
$color-download: #F5F6F7;
$color-footer: #000000;

$color-title: #373737;
$color-text: #4E4E4E;
$color-title-button: white;

$background-btn: #00AFDB;
$background-btn-hovered: rgb(6, 115, 142);


$width-task: 1600px;
$content-widht: 1060px;
$content__footer-widht: 1310px;