.slider__buttons {
  font-size: 20px;
  color: $color-title;
  display: inline-block;
  margin-left: 550px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  width: 100px;
  span {
    cursor: pointer;
    &:hover {
      opacity: 0.5;
    }
  }
}
.slider__count {
  display: flex;
}
.slider__list {
  display: flex;
  justify-content: start;
  width: 910px;
  overflow: hidden;
}
.slider__item {
  width: 407px;
  height: 244px;
  margin: 0 15px;
}
