.logo{
  img{
    width: 44px;
    height: 44px;
  }
  &_header-posotion{
    margin-right: 63px;
    margin-left: 50px;
  }
  &_footer-position{
    margin-right: 125px;
    margin-left: 45px;
  }
  
}
